* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
  padding-left: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid grey;
}
